@media screen and (max-width:992px){
.container {
    max-width: 750px;
}  

.section--fresh-life{
   .row{
       justify-content: center;
       text-align: center;
       &--centered{
        padding: 40px 0;
    }
    }
}
.header{
  
    .row{
    justify-content: center;
   
    }
}
.section--tomato{

    .row{
        flex-direction: column-reverse;

        
    }
    .col--1-4{
        max-width: none;
    }
}
.section--gallery{

    .row{
        flex-flow: wrap row; 
        justify-content: center;
        width: 100%;
         align-items: center;
    }
    .col{
        &--flex-64,
        &--flex-30,
        &--flex-47{
            flex: 0 1 100%;
        }
        
    }
    .gallery-subtitle{
        padding: 0;
    }
}
.section--subscribeToUs{
   position: relative; 
    & *{
        position: relative;
        z-index: 1;
    }
      &::before{
          content: '';
          width: 100%;
          position: absolute;
          height: 100%;
          top: 0;
          left: 0;
          background: linear-gradient(270deg, rgba(255,255,255,0.5) 30%, rgba(255,255,255,.5) 60%);
          z-index: 1;
      }


    .subscribeToUs-title{
        text-align: center;
    }
    .subscribeToUs-subtitle{
        padding: 0 0 0 0;
        text-align: center;
        font-weight: 700;
     
    
    }
    .centered{
        @include flexElBeetween(center,wrap)
    }
    .subscribeToUs__field{
        margin-bottom: 15px;
    }
    .btn{
        &--secondary{
            padding: 1em 4em;
        }
    }
}
.section--blog{
    padding: 50px 0;
    .title{
        padding: 0;
    }
    .row{
        flex-flow: wrap row;
        justify-content: center;
        .col--1-3{
            max-width:90%;
            & > .blog-news{
                padding-top: 60%;
            }
        }
        .col--1-3 + .col--1-3{
            margin-top: 20px;
            }
    }
   
}
.section--contact{
    .contact__head-description{
        padding: 0;
    }
    .row{
    flex-direction: column-reverse;
     align-items: center;

     .col--1-2{
         max-width: none;
         .contacts {
            display: grid;
            grid-template-columns: repeat(3,1fr);
            grid-template-rows: auto;
            text-align: center;
         }
     }
    }
}

}


@media screen and (max-width:767px){
    
.section--blue{
    .row{
        justify-content: center;
        flex-flow: wrap row;
        text-align: center;

        .col--1-5{
            max-width: none;
            max-width: 100%;
        }
        .article__text{
            padding: 25px 10px;
        }
    }

}
.section--tomato{
    .row--evel-center {
        justify-content: center;
        .col--1-4{
            width: 100%;
            max-width: none;
        }
    }
}
.footer{
    position: relative;
&__inner{
padding:20px 10px;
flex-flow: wrap row;
}
&__inner-list img{
    position: absolute;
    top:10px;
    left: 50%;
    transform: translate(-50%,0);
}
}


}


@media screen and (max-width:546px){
  
    .section--tomato{
        .wrap-postion__title{
            font-size: 7rem;
        }
        
    }
    .section--subscribeToUs{
        padding: 60px 0;
        
        .subscribeToUs__field{
            margin: 15px 0;
        }
    }
    .section--contact{
        .contact__head-title{
            margin-top: 0;
        }
      
    
        .contacts__list:first-child{
            grid-column:span 3;
             }
             .contacts__list:last-child{
                 grid-column: span 2;
             }
    }
    .footer{
        padding-bottom: 10px;
        &__inner{
            padding-bottom: 0;
            justify-content: center;
            align-items: center;
            &-list+&-list   {
                padding: 0 5px;
            }
        }
    }
}
@media screen and (max-width:420px){
   
    .section--tomato{
        .wrap-postion__title{
            font-size: 5rem;
        }
    }
    .section--gallery{
        .gallery-title{
            font-size: 5rem;
        }
        
       
    }
    .section--blog{
       .row{
            .col--1-3{
                max-width: none;
            }
        }
        .blog-news{
            padding-top: 110%;
        }
        .blog-news__title{
            margin-bottom: 5px;
        }
       
    }
    .section--contact{
        .contact__head-title{
            font-size: 5rem;
        }
        .contacts__list:nth-child(n){
            text-align: center;
            grid-column:span 3 ;
        }
    }
}